button:focus,button:active:focus,button.active:focus {
  outline: none !important;
}
button{
  font-size: 30px;
  font-family: 'FFXIV';
  background: rgba(32,64,85,0.82);
  color: #FFF;
}
.input-field{
  height: 0;
  display: none;
  padding: 10px;
  margin: auto;
  width: 50%;
  border: 1px solid #fff;
  border-radius: 200px;
}
.week{
  background-color: #000000de;
  font-weight: bold;
  color: #FFF;
  border-radius: 20px;
}
