<div class="p-3 welcome-block">
  <h3 class="text-center">Hello and welcome !</h3>
  <p class=" text-justify">
    This is a tool to manage your team loot's by Savage's instances. All datas concerning characters are from open source and public datas.
  </p>
  <div>
    <div>
    This site will use coockies to improve your experience !
    </div>
    <div class="cookies-button text-center">
      <button mat-button (click)="acceptCoockies()"> Accept</button>
      <button mat-button (click)="deny()"> Deny </button>
    </div>
  </div>
</div>
