<div class="p-3 welcome-block">
  <div class="d-flex justify-content-around align-items-center pb-2">
  <img class="dodo-welcome reverse" src="assets/img/dodo.png">
  <h3 class="text-center">Hello and welcome !</h3>
  <img class="dodo-welcome" src="assets/img/dodo.png">
  </div>
  <p class=" text-justify">
    This is a tool to manage your team loots by Savage's instances. All datas concerning characters are from open source and public datas.
  </p>
  <div>
    <div>
    This site will use coockies to improve your experience !
    </div>
    <div class="cookies-button d-flex justify-content-around">
      <button mat-button (click)="acceptCoockies()"> Accept</button>
      <button mat-button (click)="deny()"> Deny </button>
    </div>
  </div>
</div>
