<div class="background-opacity row background-opacity my-2 py-2 flex-wrap flex-column align-items-center justify-content-center flex-sm-row">
  <div class="text-center d-flex">
    <div class="d-flex">
      <img class="player-img mb-1" src="{{player.imgUrl}}" matTooltip="{{player.name}}" alt="{{player.name}}">
      <div class="ml-2">
        <h3 class="my-1 text-white text-center" style="font-weight: bold"> {{player.name}}</h3>
        <div class="d-flex">
          <h5 class="text-white font-weight-bold mr-1"> Chest earned :  </h5>
      <app-total-loot class="text-white text-center d-flex align-items-center" [lootsPlayer]="lootsPlayer" ></app-total-loot>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-around align-items-center flex-wrap">
    <div *ngFor="let coffer of coffers">
      <app-coffer-count [lootsPlayer]="lootsPlayer" [coffer]="coffer" ></app-coffer-count>
    </div>
  </div>
</div>
