<div [@jobs] *ngIf="jobList" class="dialog">
  <div style="color: #fff"> {{player.name}}'s
    <span *ngIf="!isSub">main job</span>
    <span *ngIf="isSub">sub job</span>
  </div>
  <div class="d-flex">
      <div *ngFor="let job of jobServ._jobSub.value | tankJobs">
        <div>
          <img [ngClass]="{'disabledDiv': !checkJob(job.id)}" height="40px" (click)="patchJob(isSub, job.id, player.id)" src="{{job.image.imgpath |imgpath}}">
        </div>
      </div>
  </div>
  <div class="d-flex">
    <div *ngFor="let job of jobServ._jobSub.value | healerJobs">
      <img  [ngClass]="{'disabledDiv': !checkJob(job.id)}" height="40px" (click)="patchJob(isSub, job.id, player.id)" src="{{job.image.imgpath |imgpath}}">
    </div>
  </div>
  <div class="d-flex">
    <div *ngFor="let job of jobServ._jobSub.value | meleedps">
      <img [ngClass]="{'disabledDiv': !checkJob(job.id)}" height="40px" (click)="patchJob(isSub, job.id, player.id)" src="{{job.image.imgpath |imgpath}}">
    </div>
  </div>
  <div class="d-flex">
    <div *ngFor="let job of jobServ._jobSub.value | rangeddps">
      <img [ngClass]="{'disabledDiv': !checkJob(job.id)}" height="40px" (click)="patchJob(isSub, job.id, player.id)" src="{{job.image.imgpath |imgpath}}">
    </div>
  </div>
  <div class="d-flex">
    <div *ngFor="let job of jobServ._jobSub.value | magicdps">
      <img [ngClass]="{'disabledDiv': !checkJob(job.id)}" height="40px" (click)="patchJob(isSub, job.id, player.id)" src="{{job.image.imgpath |imgpath}}">
    </div>
  </div>
  <div *ngIf="html" style="color: #FFF">
    {{html}}
  </div>
  <div *ngIf="isSub! && ddbId">
    <button (click)="delete()">Delete</button>
  </div>
</div>
<div *ngIf="jobList" class="overlay" (click)="close()"></div>

