.dialog {
  z-index: 1000;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.disabledDiv{
  pointer-events:none;
  opacity: 0.2;
}

.pointer{
  cursor: pointer;
}
.job-img{
  height: 50px;
  width: 50px;
}
// mobile
@media screen and (max-width: 480px){
  .job-img{
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}

@media screen and (max-width: 960px ){

}
