mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
}
mat-drawer-content button{
position: absolute;
  background: none;
  color: #fff;
}

mat-drawer{
  padding: 100px;
}
