<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer>
    <ul>
      <li><a routerLink="/roster" routerLinkActive="active">Roster</a></li>
      <li>Characters</li>
      <li>Items</li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-raised-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="d-flex justify-content-center" style="height: 20vh">
      <img src="../assets/img/xivlogo.png">
    </div>
    <div class="container crystal-background" style="height: 80vh">
    <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>



