.delete-button{
  background-color: #af0000 !important;
}
.confirm-button{
  margin: 0 10px;
  background-color: #1b9448 !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: rgba(255, 255, 255, 0.78);
  border-bottom: solid #c63b3b;
  padding: 2px .75em 0 .75em!important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0;
}
.mat-form-field .mat-input-element{
  color: #2b2ba7;
}
p{
  margin: 0;
}
.form-block, .bg-opacity{
  background-color: #00000094;
}
@media screen and (max-width: 480px){
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: rgba(255, 255, 255, 0.78);
    border-bottom: solid #c63b3b;
    padding: 0!important;
  }
}
