<div *ngIf="isSubmitted" class="d-flex align-items-center justify-content-around" style="color: #FFF; border: solid #FFF">
  <img style="border-radius: 20px" src="{{newChar.Avatar}}">
  <p>{{newChar.Name}}</p>
  <p>{{newChar.Server}}</p>
  <button mat-mini-fab (click)="remove()"><mat-icon>clear</mat-icon></button>
</div>
<div *ngIf="!isSubmitted">
  <form [formGroup]="newPlayerFrom" style="background: #fff">
    <mat-form-field color="primary" appearance="outline">
      <input matInput placeholder="First name" type="text" formControlName="fname" autocomplete="on" required/>
    </mat-form-field>
    <span class="mx-2"></span>
    <mat-form-field appearance="outline">
      <input  matInput placeholder="Last name" type="text" formControlName="lname" autocomplete="on" required/>
    </mat-form-field>
    <span class="mx-2"></span>
    <mat-form-field appearance="outline">
      <input  matInput placeholder="Server" type="text" formControlName="server" autocomplete="on" required/>
    </mat-form-field>
    <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
    <button mat-mini-fab [disabled]="isSearching" (click)="submit()"> <mat-icon>done</mat-icon> </button>
    <button mat-mini-fab (click)="onCloseClicked()"><mat-icon>clear</mat-icon></button>
    <div *ngIf="notFound">
      <p style="color: red; font-weight: bold; font-style: italic"> This Character does not exist </p>
    </div>

  </form>

</div>
