button:focus,button:active:focus,button.active:focus {
  outline: none !important;
}
.mat-raised-button.mat-primary[disabled]{
  color: #FFF;
  background-color: #476b8a;
}
.error{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-style: italic;
  font-weight: bold;
}
.input-register{
  width: 75%
}
