button:focus,button:active:focus,button.active:focus {
  outline: none !important;
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 18px;
  font-style: italic;
  background: #ff000061;
  border-radius: 1999px;
  padding: 3px;
  font-weight: bold;
}
.error img{
  width: 70px;
}

.input-register{
  width: 75%
}
.input-field{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
// mobile
@media screen and (max-width: 480px){
  .error{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 14px;
    font-style: italic;
    background: #ffffffa6;
    border-radius: 1999px;
    padding: 3px;
    font-weight: bold;
  }
  .error img{
    width: 50px;
  }
}

@media screen and (max-width: 960px ){

}
