<div *ngIf="registrationDone">
  <div>
    <h5 class="text-center font-weight-bold">Roster created !</h5>
    <p>
      An email to confirm your roster has been sent. Please check your mailbox !
    </p>
  </div>
  <img width="70px" src="../../../assets/img/mail_moogle.png">
</div>
<div *ngIf="!registrationDone">
  <div *ngIf="registerFailed" (close)="registerFailed = false" class="error mb-1">
    <img src="../../../assets/img/moogle.png">
    <div> {{html}} !</div>
  </div>
  <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>

  <form class="form-content" [formGroup]="registerForm">
    <div class="input-field">
      <mat-form-field>
        <input matInput
               placeholder="Name"
               formControlName="rostername"
               autocomplete="Off" required/>
      </mat-form-field>
      <span class="mx-0 mx-sm-2"></span>
      <mat-form-field>
        <input matInput type="email"
               placeholder="Email"
               formControlName="email"
               autocomplete="Off" required/>
      </mat-form-field>
    </div>
    <div class="input-field">
      <mat-form-field>
        <input
          (focus)="showWarning = true"
          (focusout)="showWarning= false"
          matInput type="password"
          placeholder="{{ password.errors?.pattern ?
                         'Minimum eight characters, at least one uppercase letter, one lowercase letter and one number' :
                         'Password' }}"
          formControlName="password"
          autocomplete="Off" required/>
      </mat-form-field>
      <span class="mx-0 mx-sm-2"></span>
      <mat-form-field>
        <input matInput type="password"
               placeholder="{{ password.errors?.pattern ?
                         'Minimum eight characters, at least one uppercase letter, one lowercase letter and one number' :
                         'Confirm password ' }}"
               formControlName="confirmPassword"
               autocomplete="Off" required/>
        <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </mat-form-field>
      <div *ngIf="showWarning" style="font-style: italic; color:#e73b3b; text-underline: #DDDDDD" >
        Do <span *ngIf="showWarning" style="font-weight: bold"> NOT </span> use your personnal password, you'll need to share this password to your teammate to log in !
      </div>
    </div>
    <div class="text-center">
      <button mat-raised-button color="primary" style="background-color: #23bf5d"
              [disabled]="loading || registerForm.invalid"
              (click)="register()">
        Create
      </button>
    </div>
  </form>
</div>



