<div *ngFor="let player of rosterServ._rosterSub.value.player">
  <div class="d-flex ">
    <button mat-button color="warn" (click)="deleteChar(player)"><mat-icon>delete_forever</mat-icon></button>
    <img src="{{player.imgUrl}}">
    <div style="color: #FFF">
      <div>{{player.name}}</div>
      <div>{{player.server}}</div>
      <div *ngIf="player.playerJobs" class="d-flex">
        <div *ngFor="let job of player.playerJobs">
          <div *ngIf="job.isMain">
            <img height="60px" src="{{job.job.image.imgpath |imgpath }}">
          </div>
          <div *ngIf="job.isSub">
            <img height="40px" src="{{job.job.image.imgpath |imgpath }}">
          </div>
        </div>
      </div>
      <div *ngIf="player.playerJobs!">
        <button> + </button>
      </div>
    </div>
    </div>
</div>
<div >
  <button *ngIf="rosterServ.nbPlayer + searchServ.nbForm < maxPlayer" mat-fab class="add-button " (click)="addCharForm()"><mat-icon>add</mat-icon></button>
  <button *ngIf="searchServ.formUp && searchServ.nbForm >= 1" mat-fab (click)="submitPlayers()">Go</button>
</div>
<app-add-player *ngIf="rosterServ.nbPlayer < 8"></app-add-player>


