<div class="d-flex ">
  <button mat-button color="warn" (click)="showDialog = !showDialog"><mat-icon>delete_forever</mat-icon></button>
  <img src="{{player.imgUrl}}" (click)="showPlayer= !showPlayer;">
  <div style="color: #FFF">
    <div>{{player.name}} ({{player.server}})</div>
    <div class="d-flex">
      <div *ngIf="player.playerJobs" class="d-flex">
        <div *ngFor="let job of player.playerJobs">
          <div *ngIf="job.isMain">
            <img height="60px" src="{{job.job.image.imgpath |imgpath }}" (click)="showJob= !showJob; isSub = false; ddbId = job.id; jobOrder=job.ord">
          </div>
          <div *ngIf="job.isSub">
            <img height="40px" src="{{job.job.image.imgpath |imgpath }}" (click)="showJob= !showJob; isSub = true; ddbId = job.id; jobOrder=job.ord">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="player.playerJobs.length == 0">
      <button (click)="showJob= !showJob; isSub = false; ddbId = null;"> + </button>
    </div>
    <div *ngIf="player.playerJobs.length>0">
      <button (click)="showJob= !showJob; isSub = true; ddbId = null"> + </button>
    </div>
  </div>
</div>
<app-player-show [player]="player" [idMain]="idJobMain" [(playerShow)]="showPlayer"></app-player-show>
<app-jobs [player]="player" [jobOrder]="jobOrder" [ddbId]= "ddbId" [isSub]="isSub" [(jobList)]="showJob"></app-jobs>
<app-delete-confirmation [player]="player" [(visible)]="showDialog"></app-delete-confirmation>
