<div class="bg-opacity p-2 my-2 text-white">
  <div class="text-center"><b>{{player.name}}</b></div>
  <div class="d-flex justify-content-center">
    <div class="d-flex align-items-center mr-2">
      <!-- si le personnage a un job d'enrgistré ouvre un component avec la première entrée des jobs du personnages -->
      <img class="pointer player-img" *ngIf="player.playerJobs.length" matTooltip="{{player.name}}" src="{{player.imgUrl}}" (click)="getJobStuff(player.playerJobs[0].wishitem.id, this.player.playerJobs[0].currentstuff.id);">
      <!-- si le personnage n'a aucun job enrgistré ouvre un component avec un message d'erreur -->
      <img class="pointer player-img" *ngIf="!player.playerJobs.length" matTooltip="{{player.name}}" src="{{player.imgUrl}}" (click)="noJobSet();">
    </div>
</div>
  <div>
    <div *ngIf="player.playerJobs" class="d-flex py-1 justify-content-center">
      <div *ngFor="let job of player.playerJobs">
        <div *ngIf="job.isMain">
          <img class="pointer main-job" src="{{job.job.imgUrl }}" (click)="showJob= !showJob; isSub = false; ddbId = job.id; jobOrder=job.ord">
        </div>
        <div *ngIf="job.isSub">
          <img class="pointer sub-job" src="{{job.job.imgUrl }}" (click)="showJob= !showJob; isSub = true; ddbId = job.id; jobName=job.job.name; jobOrder=job.ord">
        </div>
      </div>
      <!-- affiche le bouton d'ajout de job si inférieur à 5 -->
      <div *ngIf="player.playerJobs.length < 5">
        <!-- pour le main -->
        <div *ngIf="player.playerJobs.length == 0" class="text-center">
          <button mat-flat-button color="warn" (click)="showJob= !showJob; isSub = false; ddbId = null;"> Add job </button>
        </div>
        <!-- pour les subs -->
        <div *ngIf="player.playerJobs.length>0" class="text-center">
          <button mat-flat-button color="warn" (click)="showJob= !showJob; isSub = true; ddbId = null"> Add job </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- component qui s'afficheront avec les données néccessaires -->
<app-jobs [player]="player" [jobOrder]="jobOrder" [ddbId]= "ddbId" [jobName]="jobName" [isSub]="isSub" [(jobList)]="showJob"></app-jobs>
<app-player-show [items]="items" [currentStuff]="currentStuff" [wishItem]="wishItem" [player]="player" [idMain]="idJobMain" [(playerShow)]="showPlayer"></app-player-show>
