.dialog {
  z-index: 500;
  border-radius: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(113 25 25 / 90%);
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  padding: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 490;
}
.friendly-moogle{
  width: 150px;
  height: 160px;
}
// mobile
@media screen and (max-width: 480px){
  .dialog{
    width: 95%;
  }
  .friendly-moogle{
    width: 80px;
    height: 90px;
  }
}

@media screen and (max-width: 960px ){

}
