<div [@dialog] *ngIf="visible" class="dialog m-2">
   <div class="dialog-container container mb-2">
     <div>
     <p>Are you sure to remove <span style="font-weight: bold">{{player.name}}</span> from your roster ?</p>
     <button style="background-color: #d61515; width: 100%;" mat-button (click)="deleteChar(player)"> Yes, he sucks anyway </button>
     <button style="border: 1px solid; width: 100%;" mat-button (click)="close()"> No, i'll think about it </button>
     </div>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
