button:focus,button:active:focus,button.active:focus {
  outline: none !important;
}
button{
  padding: 5px;
  padding-bottom: 10px;
  color: #FFF;
  letter-spacing: 2px;
  background-color: #2b2ba7;
}
.input-field{
  height: 0;
  display: none;
  margin: auto;
  text-align: center;
}
.login-block{
  background-color: #0000009c;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}
// mobile
@media screen and (max-width: 480px){

}

@media screen and (max-width: 960px ){

}
