<div style="color: #fff; " class="text-center">
  <div style="height: 100px"></div>
  <div>
    <button  (click)="toggleLogIn()" mat-raised-button>Log into your roster</button >
    <div style="height: 50px"></div>
    <div  [@logOpenClose]="logIsOpen ? 'open' : 'closed'" class="input-field ">
      <app-login></app-login>
    </div>
  </div>
  <div style="height: 50px"></div>
  <div>
    <button  (click)="toggleRegister()" mat-raised-button>Create your roster</button>
    <div style="height: 50px"></div>
    <div  [@registerOpenClose]="registerOpen ? 'open' : 'closed'" class="input-field ">
      <app-new-roster></app-new-roster>
    </div>
  </div>
</div>
