button:focus,button:active:focus,button.active:focus {
  outline: none !important;
}
button{
  font-size: 30px;
  font-family: 'FFXIV';
  padding: 5px;
  padding-bottom: 10px;
  color: #FFF;
  background-color: darkblue;
  letter-spacing: 2px;
}
.input-field{
  height: 0;
  display: none;
  padding: 20px;
  margin: auto;
  width: fit-content;
  background-color: #171717b8;
}
