<div style="color: #fff;">
  <div class="login-block col-12 col-lg-4">
    <h2 class="welcome text-center"> Welcome to FFXIV Roster </h2>
    <div class="mt-4 d-flex justify-content-around">
      <button  (click)="toggleLogIn(); registerOpen? toggleRegister(): ''" mat-raised-button>Log in</button >
      <button  (click)="toggleRegister(); logIsOpen? toggleLogIn(): ''" mat-raised-button>Create</button>
    </div>
    <div>
      <div>
      </div>
      <app-login [@logOpenClose]="logIsOpen ? 'open' : 'closed'" class="p-3 input-field "></app-login>
      <app-new-roster [@registerOpenClose]="registerOpen ? 'open' : 'closed'" class="p-3 input-field "></app-new-roster>
    </div>
  </div>
</div>



