<div class="block" style="color:#FFF">
  <div *ngIf="!changeDone">
  <div class="d-flex justify-content-center">
    <div class="text-center bubble"> Here you can change your password</div>
    <img class="friendly-moogle" src="assets/img/moogle.png">
  </div>
  <form class="text-center form-content" [formGroup]="passwordForm">
  <mat-form-field>
    <input matInput type="password"
           placeholder="{{ password.errors?.pattern ?
                         'Minimum eight characters, at least one uppercase letter, one lowercase letter and one number' :
                         'Password' }}"
           formControlName="password"
           autocomplete="Off" required/>
  </mat-form-field>
  <span class="mx-0 mx-sm-2"></span>
  <mat-form-field>
    <input matInput type="password"
           placeholder="{{ password.errors?.pattern ?
                         'Minimum eight characters, at least one uppercase letter, one lowercase letter and one number' :
                         'Confirm password ' }}"
           formControlName="confirmPassword"
           autocomplete="Off" required/>
    <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
    </div>
  </mat-form-field>
  </form>
    <p class="error" *ngIf="error">
      {{errorHtml}}
    </p>
  <div class="text-center">
    <button style="background-color: #6fab6f" mat-raised-button color="primary"
            [disabled]="passwordForm.invalid"
            (click)="changePassword()">
      <span>Submit</span>
    </button>
  </div>
    </div>
  <div *ngIf="changeDone">
    <div class="d-flex justify-content-center">
      <div class="text-center bubble"> {{html}}</div>
      <img class="friendly-moogle" src="assets/img/moogle.png">
    </div>
  </div>
  <div class="text-center mt-2">
    <a  class='return' routerLink="/"> Return to login</a>
  </div>
</div>

