::ng-deep .mat-form-field {
  .mat-input-element {
    color: #FFFFFF;
  }
  .mat-form-field-label {
    color: #FFFFFF;
  }
  .mat-form-field-underline {
    background-color: #FFFFFF;
  }
  .mat-form-field-ripple {
    background-color: #FFFFFF;
  }
  .mat-form-field-required-marker {
    color: #FFFFFF;
  }
}
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #5687d7;
  }
  .mat-form-field-ripple {
    background-color: #5687d7;
  }
  .mat-form-field-required-marker {
    color: #5687d7;
  }
  .mat-input-element {
    color: #5687d7;
  }
}
::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: #bf3741;
  }
  .mat-form-field-label {
    color: #bf3741;
    .mat-form-field-required-marker {
      color: #bf3741;
    }
  }
  .mat-form-field-ripple {
    background-color: #bf3741;
  }
}

button:focus,button:active:focus,button.active:focus {
  outline: none !important;
}
.mat-raised-button.mat-primary[disabled]{
  color: #FFF;
  background-color: #476b8a;
}
a{
  color: #ff0023
}
.friendly-moogle{
  width: 75px;
}
.login-block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
