.block{
  width: fit-content;
  background-color: #0000009c;
  margin: auto;
  padding: 25px;
  border-radius: 20px;
}
::ng-deep .mat-form-field {
  .mat-input-element {
    color: #FFFFFF;
  }
  .mat-form-field-label {
    color: #FFFFFF;
  }
  .mat-form-field-underline {
    background-color: #FFFFFF;
  }
  .mat-form-field-ripple {
    background-color: #FFFFFF;
  }
  .mat-form-field-required-marker {
    color: #FFFFFF;
  }
}
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #5687d7;
  }
  .mat-form-field-ripple {
    background-color: #5687d7;
  }
  .mat-form-field-required-marker {
    color: #5687d7;
  }
  .mat-input-element {
    color: #5687d7;
  }
}
::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: #bf3741;
  }
  .mat-form-field-label {
    color: #bf3741;
    .mat-form-field-required-marker {
      color: #bf3741;
    }
  }
  .mat-form-field-ripple {
    background-color: #bf3741;
  }
}
button:focus,button:active:focus,button.active:focus {
  outline: none !important;
}
.mat-raised-button.mat-primary[disabled]{
  color: #FFF;
  background-color: #476b8a;
}
.friendly-moogle{
  width: 75px;
}
.bubble{
  background-color: #c5c5ae;
  position: relative;
  font-family: sans-serif;
  line-height: 24px;
  border-radius: 40px;
  padding: 15px;
  text-align: center;
  color: #000;
  height: fit-content;
  margin-top: 4px;
}
.bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #c5c5ae;
  border-right: 15px solid transparent;
  border-top: 13px solid #fff0;
  border-bottom: 13px solid #c5c5ae;
  right: -20px;
}
.return{
  text-decoration: underline;
  font-weight: bold;
  color: #ffffff;
}
.error{
  color: red;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
