<div class="block" style="color:#FFF">
  <div *ngIf="requestDone" class="d-flex justify-content-center">
    <div class="text-center bubble"> {{html}}</div>
    <img class="friendly-moogle" src="assets/img/moogle.png">
  </div>
  <div *ngIf="!requestDone">
    <div class="d-flex justify-content-center">
      <div class="text-center bubble"> Please write your mail to reset your password</div>
      <img class="friendly-moogle" src="assets/img/moogle.png">
    </div>
    <div class="text-center">
      <mat-form-field class="mr-2">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary"
              [disabled]="email.invalid || disabled"
              (click)="sendPasswordRequest()">Send</button>
    </div>
    <p class="error" *ngIf="errorNotFound">{{html}}</p>
  </div>
  <div class="text-center mt-2">
    <a  class='return' routerLink="/"> Return to login</a>
  </div>
</div>
