.pointer{
  cursor: pointer;
}
.loot-img{
  height: 65px;
  width: 65px
}
@media screen and (max-width: 480px){
  .loot-img{
    height: 50px;
    width: 50px
  }
}

@media screen and (max-width: 960px ){

}
