<h1>Hello</h1>
<p>You asked to reset your password, click on this
   {# <a href="http://90.120.9.48:8081{{ path('app_redirect_password', {'token': roster.tokenPassword}) }}"> #}
    <a href="http://api.roster.fr{{ path('app_redirect_password', {'token': roster.tokenPassword}) }}">
        link</a>
    to change it.
</p>

