<div class="d-flex">
  <div class="mr-3">
    <div>
      <div class="slotName">Main hand</div>
      <div *ngIf="!(currentServ._currentSub|async).mainHand">
        <img class="item" (click)="gearShow= !gearShow; getSlotStuff(1); slotName='weapon'"
             src="https://xivapi.com/img-misc/gear/mainhand.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).mainHand">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(1); slotName='weapon'"
             matTooltip="{{(currentServ._currentSub|async).mainHand.name}}"
             src="{{(currentServ._currentSub|async).mainHand.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Head</div>
      <div *ngIf="!(currentServ._currentSub|async).head">
        <img class="item" (click)="gearShow= !gearShow; getSlotStuff(3); slotName='head'"
             src="https://xivapi.com/img-misc/gear/head.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).head">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(3); slotName='head'"
             matTooltip="{{(currentServ._currentSub|async).head.name}}"
             src="{{(currentServ._currentSub|async).head.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Body</div>
      <div *ngIf="!(currentServ._currentSub|async).body">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(4); slotName='body'"
             src="https://xivapi.com/img-misc/gear/body.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).body">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(4); slotName='body'"
             matTooltip="{{(currentServ._currentSub|async).body.name}}"
             src="{{(currentServ._currentSub|async).body.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Hand</div>
      <div *ngIf="!(currentServ._currentSub|async).hands">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(5); slotName='hands'"
             src="https://xivapi.com/img-misc/gear/hands.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).hands">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(5); slotName='hands'"
             matTooltip="{{(currentServ._currentSub|async).hands.name}}"
             src="{{(currentServ._currentSub|async).hands.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Waist</div>
      <div *ngIf="!(currentServ._currentSub|async).belt">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(6);slotName='waist'"
             src="https://xivapi.com/img-misc/gear/waist.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).belt">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(6); slotName='waist'"
             matTooltip="{{(currentServ._currentSub|async).belt.name}}"
             src="{{(currentServ._currentSub|async).belt.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Legs</div>
      <div *ngIf="!(currentServ._currentSub|async).legs">
        <img class="item" (click)="getSlotStuff(7); gearShow= !gearShow; slotName= 'legs'"
             src="https://xivapi.com/img-misc/gear/legs.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).legs">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(7); slotName= 'legs'"
             matTooltip="{{(currentServ._currentSub|async).legs.name}}"
             src="{{(currentServ._currentSub|async).legs.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Feet</div>
      <div *ngIf="!(currentServ._currentSub|async).feet">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(8); slotName='feet'"
             src="https://xivapi.com/img-misc/gear/feet.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).feet">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(8); slotName='feet'"
             matTooltip="{{(currentServ._currentSub|async).feet.name}}"
             src="{{(currentServ._currentSub|async).feet.imgUrl}}"/>
      </div>
    </div>
  </div>
  <img src="{{player.portrait}}" height="675px" style="margin-top: 10px">
  <div class="ml-3">
    <div>
      <div class="slotName">Off hand</div>
      <div *ngIf="player.playerJobs[index].job.name == 'Paladin'; else png">
        <div *ngIf="!(currentServ._currentSub|async).offHand">
          <img class="item" (click)="gearShow= !gearShow;getSlotStuff(2); slotName='shield'"
               src="https://xivapi.com/img-misc/gear/offhand.png">
        </div>
        <div *ngIf="(currentServ._currentSub|async).offHand">
          <img class="item" (click)="gearShow= !gearShow;getSlotStuff(2); slotName='shield'"
               matTooltip="{{(currentServ._currentSub|async).offHand.name}}"
               src="{{(currentServ._currentSub|async).offHand.imgUrl}}"/>
        </div>
      </div>
      <ng-template #png>
        <img class="item" src="https://xivapi.com/img-misc/gear/offhand.png">
      </ng-template>
    </div>
    <div>
      <div class="slotName">Earring</div>
      <div *ngIf="!(currentServ._currentSub|async).earring">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(9); slotName='earring'"
             src="https://xivapi.com/img-misc/gear/ear.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).earring">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(9); slotName='earring'"
             matTooltip="{{(currentServ._currentSub|async).earring.name}}"
             src="{{(currentServ._currentSub|async).earring.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Necklace</div>
      <div *ngIf="!(currentServ._currentSub|async).neck">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(10); slotName='necklace'"
             src="https://xivapi.com/img-misc/gear/neck.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).neck">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(10); slotName='necklace'"
             matTooltip="{{(currentServ._currentSub|async).neck.name}}"
             src="{{(currentServ._currentSub|async).neck.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Bracelet</div>
      <div *ngIf="!(currentServ._currentSub|async).bracelet">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(11); slotName='bracelet'" src="https://xivapi.com/img-misc/gear/wrist.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).bracelet">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(11); slotName='bracelet'" matTooltip="{{(currentServ._currentSub|async).bracelet.name}}"
             src="{{(currentServ._currentSub|async).bracelet.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Left ring</div>
      <div *ngIf="!(currentServ._currentSub|async).ring1">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(12); slotName='left ring'" src="https://xivapi.com/img-misc/gear/ring1.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).ring1">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(12); slotName='left ring'" matTooltip="{{(currentServ._currentSub|async).ring1.name}}"
             src="{{(currentServ._currentSub|async).ring1.imgUrl}}"/>
      </div>
    </div>
    <div>
      <div class="slotName">Right ring</div>
      <div *ngIf="!(currentServ._currentSub|async).ring2">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(12); slotName='right ring'"
             src="https://xivapi.com/img-misc/gear/ring2.png">
      </div>
      <div *ngIf="(currentServ._currentSub|async).ring2">
        <img class="item" (click)="gearShow= !gearShow;getSlotStuff(12); slotName='right ring'"
             matTooltip="{{(currentServ._currentSub|async).ring2.name}}"
             src="{{(currentServ._currentSub|async).ring2.imgUrl}}"/>
      </div>
    </div>
  </div>
</div>
<app-select-current [currentId]="player.playerJobs[index].currentstuff.id"
                    [slotName]="slotName"
                    [jobItems]="jobItems"
                    [(gearShow)]="gearShow">
</app-select-current>
