<div [@pool] *ngIf="poolList" class="dialog">
  <h1 style="color: #fff"> {{nameRaid}}</h1>
  <h2 style="color: #FFF; text-align: center"> Chest n°{{numberChest}}</h2>
  <div>
    <div class="d-flex justify-content-around">
      <div *ngFor="let item of itemRaid" >
        <img
          [ngClass]="{'active' :(lootSlot?.item_id && item.id == lootSlot?.item_id),
                      'selected': lootSlot?.item_id && item.id == itemSelected}"
          (click)="setItem(item.id)"
          src="{{item.imgUrl}}" width="95px" matTooltip="{{item.name}}">
      </div>
    </div>
    <div class="d-flex justify-content-around flex-column">
      <div *ngFor="let player of players" class="d-flex ">
        <img src="{{player.imgUrl}}" matTooltip="{{player.name}}">
        <div *ngFor="let playerJob of player.playerJobs">
          <app-player-job-loot (playerJobSelected)="getPlayerJob($event)" [playerJobSel]=playerJobSelected [playerJobSet] = playerJobSet [playerJob]="playerJob" [lootSlot]="lootSlot"></app-player-job-loot>
        </div>
      </div>
    </div>
    <button mat-button (click)="patchLoot(raidValue, numberChest)"> Save</button>
  </div>
</div>
<div *ngIf="poolList" class="overlay" (click)="close()"></div>
